<!--   <center>
	<div class="container-fluid">  
	  <div class="col-lg-12"> 
		<div class="well">   
		  <div class="item">
<!-- <div id="item_id"> -->

<!-- <h1 class="page_title"> Your Order </h1> -->


<!-- <h3>

	<% @order.carted_products.each do |detail| %>
	<table> 
<tr>
	<td>User name: <%= current_user.name %></td>
	<td>User id: <%= current_user.id %></td>
	 <td>Product: <%= detail.product.name %></td>
	
	<td>Quantity: <%= detail.quantity %></td>
	




	
<% end %>
</h3> -->



<div class="container"> 
<div class="well well-lg">

	<h1 class="page_title"> Your Order </h1>
	<br>
	<!-- <%= @carted_product.inspect %> -->   
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Product Name</th>
	        <th>Price</th>
	        <th>Quantity</th>
	        <th>Subtotal</th>
	        <th></th>
	      </tr>
	   </thead>
	    

	    <% @order.carted_products.each do |detail| %>
	        <tbody> 
	          <tr>
	            <td><h5><%= detail.product.name %></h5></td>
	            <td><h5><%= number_to_currency(detail.product.price.round(2)) %> </h5></td>
	            <td><h5><%= detail.quantity %></h5></div></td>
	            <td><h5><%= detail.product.price * detail.quantity %> </h5></td>
	          </tr>
	        </tbody>
	    <% end %>
	  </table>
	
	</div>
	</div>

<!-- 	   <%= form_tag "/orders", method: :post do %>
	       <input  type="submit" value ="Check out" class="btn btn-success">	
		 <% end %> -->




			

                    

