<body>

<tr>
  <td><h2>Table of All Available Products</td></h2>
</tr>
   <!-- launch add item modal -->
<center>
<div class="well well-sm">

<div class="btn-group">
  <button type="button" class="btn btn-primary">Sort By</button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/products?sort=name">Name</a></li>
    <li><a href="/products?sort=name&sort_order=desc">Name Descending</a></li>
    
    <li><a href="/products?sort=price&sort_order=asc">By Price Ascending</a></li>
    <li><a href="/products?sort=price&sort_order=desc">by price Descending</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary">Category</button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/products?sort=name">Name</a></li>
    <li><a href="/products?sort=name&sort_order=desc">Name Descending</a></li>
    
    <li><a href="/products?sort=price&sort_order=asc">By Price Ascending</a></li>
    <li><a href="/products?sort=price&sort_order=desc">by price Descending</a></li>
  </ul>
</div>

</div>
</center>

<center>
<% @products.each_slice(4) do |three_items| %>

<div class="row">

<% three_items.each do |item| %>
   <div class="col-md-3">
    <div class="well well-sm">
    <div class="item" >

   <a href= "/products/<%= item.id %>" >
      <img class="thumbnail img-responsive" src="<%= item.image_checker %>" alt="<%= item.image_checker %>"> 
   </a>
 <br>
<a href= "/products/<%= item.id %>" > <%= item[:name] %> </a>
<br>

<textarea rows="3"  id="aboutDescription"
    style="resize: none;">
<%= item[:description] %></textarea>
<!-- <br>
<a href="#demo" data-toggle="collapse">Read More..</a>
  <div id="demo" class="collapse">
<%= item[:description] %>
  </div> -->
<br>


$<%=item[:price] %> <%= item.sale_message %>
<br>
Sales tax: $<%= item.tax %>
<br>
Total: $<%= item.total %>

</div>
</div>
</div>
<% end %>

</div>  
  <% end %>
  </body>