
  <center>
	<div class="container-fluid">  
	  <div class="col-lg-12"> 
		<div class="well">   
		  <div class="item">
		  <table >
<tr>
				<td><a href="/products/<%= @product.id %>/edit" class="btn btn-info" role="button">Edit item</a></td>
				<td><%= link_to "delete item", "/products/#{@product.id}", :class => 'btn btn-danger', method: :delete %></td>
		    </tr>
		    </table>
		  	<div id="item_title">
				<%= @product.name %>
			</div>
			<br> 
					<% if @product.images.first == false %>
                    <img src="assets/images/not_found.png" class ="thumbnail" %>
                    

			<% else %>
			<img src="<%= @product.images.first.photo %>" class="thumbnail" >

			<% end %>

			<div id="item_id">
				Item id: <%= @product.id %>
			</div>
			<br>

			<div id="item_id">
				Supplier: <%= @product.supplier.name %>
			</div>
			<br>
			<div id="item_id">
				In Stock: <%= @product.stock %>
			</div>
			<br>

			<center>
				<div id="item_description">
					<%= @product.description %>
				</div>
			</center>
			<br>
			
			<div id="item_total_price"> 
				$<%= @product.price %>
			</div>
			<br>


			<%= form_tag "/orders", method: :post do %>
				<table> 
						<input type="hidden" class="form-control" placeholder="product id" name="input_product_id" value="<%= @product.id %>">
					<tr>
						<td><label>QTY: </label></td>
						<% if @product.stock == 0 %> 

						<td><fieldset disabled><input type="text" class="form-control" placeholder="not in stock!!" name="input_order_qty"></td>
						<td><input  type="button" value ="Buy Now!" class="btn btn-success disabled"></td>
						<% else %>
						<td><input type="text" class="form-control" placeholder="QTY" name="input_order_qty"></td>
						<td><input  type="submit" value ="Buy Now!" class="btn btn-success"></td>
						class="btn btn-primary disabled"
					</tr><% end %>

				</table>
			<% end %>
		  
		</div>
	  </div>
	</div>
  </center>
















